@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

html, body {
  overscroll-behavior-y: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #0a0a0a;
}

.text-\[15px\] {
  -webkit-user-select: text;
  user-select: text;
}