@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

html, body {
  overscroll-behavior-y: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  @apply bg-neutral-50 text-neutral-900 transition-colors duration-300 ease-in-out;
}

html.dark body {
  @apply bg-[#0a0a0a] text-neutral-50;
}

.text-\[15px\] {
  -webkit-user-select: text;
  user-select: text;
}